/* Estilos base */
body {
  background-color: black;
  font-family: "Raleway", sans-serif;
  color: white;
  margin: 0; /* Elimina el margen predeterminado del cuerpo */
  padding: 0; /* Elimina el relleno predeterminado del cuerpo */
}

/* Estilos del encabezado */
header {
  text-align: center;
  padding: 20px 0;
}

.titulo {
  font-size: 2em;
}

/* Estilos de la imagen del encabezado */
.iguana_header {
  width: 100%;
  height: auto; /* La imagen se ajusta automáticamente a la altura */
}

/* Estilos del contenido principal */
main {
  padding: 20px;
}

.info {
  margin: 20px 0;
}

.iguana_main {
  width: 100%;
  height: auto; /* La imagen se ajusta automáticamente a la altura */
}

.centro {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Estilos de la sección "Características" */
.caract {
  background-color: #1e1a13;
  padding: 20px;
}

.ccont {
  font-size: 1.5em;
}

.logos {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

/* Estilos de la sección "Galería" */
.galería {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.iguana1, .iguana2, .iguana3 {
  width: calc(33.33% - 20px); /* 33.33% de ancho con margen de 20px entre imágenes */
  height: auto; /* La altura se ajusta automáticamente */
  margin: 20px;
}

/* Estilos del pie de página */
footer {
  background-color: #1e1a13;
  text-align: center;
  padding: 20px 0;
}

.foot {
  font-size: 1em;
}

/* Consulta de medios para pantallas más pequeñas */
@media (max-width: 768px) {
  .titulo {
    font-size: 1.5em;
  }

  .iguana_header {
    width: 100%;
    height: auto;
  }

  .info, .iguana_main {
    margin: 20px 0;
  }

  .centro {
    align-items: center;
  }

  .ccont {
    font-size: 1.2em;
  }

  .logos {
    flex-direction: column;
    gap: 10px;
  }

  .iguana1, .iguana2, .iguana3 {
    width: calc(50% - 20px);
    height: auto;
    margin: 20px;
  }
}
