body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.header {
  height: 10em;
  margin: 5em;
  text-align: center;
  background-image: url(../imgs/fondos.jpg);
  background-size: cover;
  background-position: center;
  padding: 3.5em;
  text-align: right;
}

.header h1 {
  font-weight: 900;
}

.header p {
  color: rgb(139, 37, 37);
}

.productos {
  width: 80%;
  margin: auto;
}
.productos td {
  width: 65%;
  padding: 1em;
}

.nombre {
  font-size: 2em;
}
.precio {
  color: rgb(61, 30, 30);
  font-size: 1.5em;
}
.footer {
  text-align: center;
  background-color: rgb(139, 37, 37);
  color: white;
  padding: 1em;
  font-weight: 900;
  font-size: 1.5rem;
}
