.titulo {
  display: flex;
  justify-content: center;
}
/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

/* Encabezado */
header {
  text-align: center;
  padding: 20px;
  background-color: #007BFF;
  color: #fff;
  position: relative;
}

header h1 {
  font-size: 36px;
}

header img {
  max-width: 100px;
  border-radius: 50%;
  margin-top: 10px;

}



/* Nombre y resumen */
h2 {
  font-size: 28px;
}

h3 {
  font-size: 24px;
  border-bottom: 2px solid #007BFF;
  padding-bottom: 5px;
  margin-top: 20px;
}

p {
  font-size: 18px;
  line-height: 1.5;
}

/* Datos personales */
ul {
  list-style: none;
  font-size: 18px;
}

ul li {
  margin-bottom: 10px;
}

/* Formación */
ol {
  list-style: decimal;
  font-size: 18px;
}

ol li {
  margin-bottom: 10px;
}

/* Enlaces externos */
a {
  text-decoration: none;
  color: #007BFF;
  font-size: 20px;
  margin: 10px 0;
  display: block;
  transition: color 0.3s;
}

a:hover {
  color: #0056b3;
  
}

/* Tarjetas de proyectos más pequeñas */
.card {
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  margin: 10px;
}

.card:hover {
  transform: translateY(-5px);
}

.card-title {
  font-size: 24px;
}

.card-text {
  font-size: 18px;
}

.btn-primary {
  background-color: #007BFF;
  border: none;
  font-size: 18px;
  padding: 10px 20px;
  color: #fff;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.btn-primary:hover {
  background-color: #0056b3;
}

/* Establecer una cuadrícula de tarjetas */
.card-container {
  display: flex;
flex-direction: row;  justify-content: space-between;
}

.card {
  flex: 0 1 calc(48% - 20px);
  max-width: calc(48% - 20px);
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .card {
    flex: 0 1 calc(100% - 20px);
    max-width: calc(100% - 20px);
  }
}
#proyects-contaier{
  display: flex;
  flex-direction: row;
}